@import url('https://fonts.googleapis.com/css?family=Muli');

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

#top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1em;
    padding-left: .5em;
    padding-right: .5em;
}


#login-form,
#contact-info,
#contact-list-wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#contact-info {
    justify-content: center;
}

form {
    width: 100%;
}

input {
    width: 100%;
    margin-bottom: 1em;
    font-size: 1em;
    border: 1px solid #5d5d5d;
    border-radius: .25em;
}

svg {
    margin-top: 2em;
    width: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #5d5d5d;
}

a:hover {
    color: #2776C1;
}

.input-group {
    width: 100%;
}

#add-contact {

}

#contact-list {
    width: 100%;
    padding: 0;
    padding-top: 2em;
    border-top: 1px solid #dddddd;
}

#contact-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

button,
input[type="submit"] {
    font-size: 1em;
    line-height: 1em;
    vertical-align: middle;
    padding: .375em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.delete-contact {
    float: right;
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.delete-contact:hover {
    background-color: #f0616f;
}

.error,
.deleting {
    background: #f0616f;
}

#save-changes {
    color: #ffffff;
    background-color: #64c52b;
    border-color: #64c52b;
}

#save-changes:hover {
    color: #ffffff;
    background-color: #95e766;
    border-color: #95e766;
}