<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="top-nav">
        <h1>Edit contacts details</h1>
        <a href="/">Home</a>
    </div>
    <div id="contact-info">
        <form name="contact-info" method="POST">
            <input type="hidden" id="object-id" name="_id" />

            <label for="first-name">First name</label>
            <input type="text" id="first-name" name="first_name" required="required" />

            <label for="last-name">Last name</label>
            <input type="text" id="last-name" name="last_name" required="required" />

            <label for="role">Role</label>
            <input type="text" id="role" name="role" required="required" />

            <label for="company-name">Company name</label>
            <input type="text" id="company-name" name="company_name" required="required" />

            <label for="email_address">Email address</label>
            <input type="email" id="email-address" name="email_address" required="required" />
            
            <label for="phone-number">Phone number</label>
            <input type="tel" id="phone-number" name="phone_number" />
            <input type="submit" value="Save changes">
        </form>
        {% if qr_code != None %}
         <a id="card" href="#">
            {{ qr_code | safe }}
        </a>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script>
        var contactInfo = {{ contact_info | tojson }};
        if (contactInfo) {
            $("#card").attr('href', '/svg?id='+contactInfo._id);
            $("#object-id").val(contactInfo._id);
            $('#first-name').val(contactInfo.first_name);
            $('#last-name').val(contactInfo.last_name);
            $('#role').val(contactInfo.role);
            $('#company-name').val(contactInfo.company_name);
            $('#email-address').val(contactInfo.email_address);
            $('#phone-number').val(contactInfo.phone_number);
        }
    </script>
</body>
</html>