<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Connect2Me – Contact List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}?7" />
</head>
<body>
    <div id="top-nav">
        <h1>Contact list</h1>
        <a title="Logout" href="logout">Log out</a>
    </div>
    <div id="contact-list-wrapper">
        {% if contact_list %}
        <p>Click on a contact's name to edit their details, filter and sort using the options below, or <a title="Add a new contact" href="/edit"><em>add a new contact</em></a>.</p>
            <div class="input-group">
                <label for="search"><em>Filter by name or company:</em></label><input id="search" name="search" class="search" />
            </div>
            <div class="input-group">
                <button class="sort" data-sort="contact-name">Sort by name</button>
                <button class="sort" data-sort="contact-company">Sort by company</button>
            </div>
        {% endif %}
        <ul aria-label="List of contacts and their companies" id="contact-list" class="list">
            {% for contact in contact_list %}
            <li><a title="Edit details for {{ contact.get('first_name') }} {{ contact.get('last_name') }} " href="/edit?email={{ contact.get('email_address') }}">
                <span class="contact-name">{{ contact.get('first_name') }} {{ contact.get('last_name') }}</span>, <span class="contact-company">{{ contact.get('company_name') }}</span>
            </a> 
            <button title="Delete {{ contact.get('first_name') }} {{ contact.get('last_name') }}'s details" data-contact-id="{{ contact.get('_id') }}" class="delete-contact">Delete</button></li>
            {% endfor %}
        </ul>
        <a id="add-contact" title="Add new contact" href="/edit"><em>Add new contact</em></a>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='list.min.js') }}"></script>
    <script>
        $('.delete-contact').on('click', function(){
            deletingContactName = $(this).closest('li').find('.contact-name').text();
            deletingContactId = $(this).attr('data-contact-id');
            confirmDelete = confirm(`Are you sure you want to delete ${deletingContactName}'s details?`);
            if (confirmDelete) {
                $.ajax({
                    url: `/remove/${deletingContactId}`,
                    type: 'DELETE',
                    success: function (result) {
                        console.log(result);                        
                    }
                });
                $(this).closest('li').addClass('deleting').fadeOut(function(){
                    $(this).remove();
                });
            }
        });
        {% if contact_list %}
            var sortOptions = {
                valueNames: ['contact-name', 'contact-company']
            };
            var contactList = new List("contact-list-wrapper", sortOptions);
        {% endif %}
    </script>
</body>
</html>